<ul class="entry-fields">
	<% if (fields.URL) { %>
	<li><strong>url:</strong> <a href="<%= fields.URL %>"><%= fields.URL %></a></li>
	<% } %>
	<% if (fields.UserName) { %>
	<li><strong>username:</strong> <span class="user"><%= fields.UserName %></span></li>
	<% } %>
	<% if (fields.Password) { %>
	<li><strong>password:</strong> <span class="password"><%= fields.Password %></span></li>
	<% } %>
</ul>